/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "settings";
@import "bootstrap";

.direct-chat .card-body {
  overflow-x: hidden;
  padding: 0;
  position: relative;
}

.direct-chat-messages {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  overflow: auto;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

.statistics {
  margin-top: 3rem;
}

.contacts-img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.contacts-name {
  margin-left: 15px;
  font-weight: 600;
}

.date-container {
  width: 24rem;
  margin-left: 37%;
  margin-top: 12%;
}

.date-container-1 {
  width: 30rem;
  margin-left: 37%;
  margin-top: 12%;
}

.date-text {
  font-size: 30px;
}
.date-button {
  margin-top: 3rem;
  width: 10rem;
}
.date-condition {
  margin-bottom: 2rem;
}

.date-instructions{
 margin-bottom: 2rem;
}

.dating-text {
  font-size: 18px;
  font-weight: bold;
}
.back-date {
  margin-top: 2rem;
}

.login > .card-f {
  width: 22rem;
  margin: 0 auth;
  float: none;
  margin-bottom: 10px;
}
card-block {
  color: black;
  text-align: left;
}

.login {
  margin-left: 40%;
  margin-top: 15%;
}

.reg-1 {
  margin-left: 35%;
}